<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Héctor Ros Martínez.
</p>
<p>
	<a href="https://github.com/hrosm/quiz_2017">Enlace al repositorio de hector de  Github</a>

<img src="/images/foto_hector.jpg" />

