<h1>Ayuda</h1>
<p>
   Un Quiz es una red social para crear adivinanzas, en la que se permite que haya varios usuarios compartiendo adivinanzas. Las preguuntas se responden introduciendo en el cajetín de texto la respuesta correspondiente. Este proyecto se ha creado con una intención educativa para ver el desarrollo de una aplicación de servidor y los elementos más importantes de un servidor web. Para más información abajo tiene un enlace a wikipedia.
</p>